
/********************TOPNAV******************/
#topnav {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
   }
#google-img {
    width: 130px;
    margin-left: 20px;
}

/*input text needs to be created inside div element to leave
search box inside*/
.bar {
    display: flex;
    justify-content: center;
    width: 720px;
    border-radius: 30px;
    margin-left: 50px;
    border:1px solid #dcdcdc;
    background-color: transparent;
    box-shadow: 2px 3px 5px #dcdcdc; /* offset-x | offset-y | blur-radius | color */
}

.bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
/*removes border from text input*/
.searchBar:focus {
    outline: none;
}

.searchBar {
    width: 600px;
    height: 47px;
    border: none;
}

#mic-icon, 
#search-icon {
    display: flex;
    font-size: 1.7rem;
    align-items: center;
    padding: 5px;
}

/*will place item towards the right end*/
#topnav .btn-right {
    margin-left: auto;
}
.btn-right {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
}
.btn-right .btn-signIn {
    font-size: 14px;
    padding: 8px 25px; /*increase size of btn*/
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: #1a73e8;;
} 

.btn-signIn:hover{
    box-shadow: 1px 1px 6px 1px #dcdcdc;
  }
.gb_Xe {
    width: 25px;
    margin-right: 10px;
  }
/*****************TOPNAV END******************/
/****************ICON BAR********************/
.icon-bar {
    margin-top: 20px;
    width: 35%;
    position: relative;
    left: 230px;
    
}
.icon-bar div {
    display:flex;
    flex-direction: row;
    align-items: center;
    padding: 0 10px;
    font-size: 15px;
    color: #606060;
}
.icon-bar .icons {
    font-size: 14px
}

#stgs-tools {
    margin-left: auto;
}
#stgs-tools span {
    padding: 0 10px;
}
/****************ICON BAR END****************/
 #line {
     opacity: .2;
}